
.section {
  width: 100%;
}

a {
  color: $ducati_red;
  cursor: pointer;
}

body {
  color: #fafafa;
}

section, article {
  padding-left: 30px;
  padding-right: 30px;
  @include media-breakpoint-down(xs) {
    padding-left: 0;
    padding-right: 0;
  }
}

.btn {
  @extend %font_bold;
  text-transform: uppercase;
  border: 1px solid $ducati_red;
  background-color: $ducati_red;
  color: #ebebeb;
  padding: 10px 15px;
  cursor: pointer;
  transition: all .5s ease-in;
  &__submit {
    @include media_font_size(24px);
    padding: 30px 60px;
    @include media-breakpoint-down(md) {
      padding: 15px 30px;
    }
  }

  &__banner {
    @include media_font_size(24px);
    padding: 30px 60px;
    @include media-breakpoint-down(md) {
      padding: 15px 30px;
    }
  }

  &:hover{
    @include shadow(rgba(237,1,32,0.5));
  }
}

.success {
  color: $ducati_red;
  @extend %font_bold;
  font-size: 1.5em;
}