.footer{
  width: 100%;
  &__gradient{
    background: linear-gradient(to bottom,#fff, #ececec);
  }
  &__logo{
    max-height: 77px;
  }
}
.content__center{
  display: flex;
  justify-content: center;
  padding: 10px;
}